@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

:root{
    font-size: 62.5%; /*10px / 16px*/
}

h1 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

span {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

a{
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

header {
    height: 100vh;
    background-image: url('');
}

#home {
    width: 1050px;
    background: url(img_navsprites.gif) 0 0;
  }

h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

p {    
    font-size: 15px;
    color: rgb(0, 0, 0);
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#perfil {
    width: 200px;
    height: 200px;
    background: url(img_navsprites.gif) 0 0;
    border-radius: 50%;
}

