@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /*10px / 16px */
}

header {
    height: 100vh;
    background-image: url('../images/BackGround_MeninoJogandoBola.PNG');
    background-size: cover;
    color: #FFF;
    /* shorthand */
    padding: 5rem 5rem;
}

h1 {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 6rem;
}

span {
    font-family: 'Montserrat';
    font-size: 4.5rem;
    position: relative;
    top: 23rem;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.12rem black;
}

.botao {
    position: relative;
    top: 23rem;
    padding: 1.4rem 11.1rem;
    background: #d9d9d9b3;
    border-radius: 4rem;
    font-family: 'Inter';
    font-size: 3rem;
    color: #FFF;
    text-shadow: 0 0.2rem 0.2rem #00000040;
    text-decoration: none;
}

h2 {
    position: relative;
    top: 11rem;
    left: 70rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 4.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

p {   
    position: relative;
    top: 10rem;
    left: 70rem; 
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}

h3 {
    position: relative;
    top: 11rem;
    left: 70rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 4.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}